* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
  }
  .logo{
    display: inline-block;
  }
  #fig-logo {
    width: 10rem;
  }
  header {
    height: 80px;
    background-color: rgb(225, 226, 227);
  }
  .nav {
    /* background-color: peachpuff; */
    list-style: none;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -2.7rem;
    left: 35rem;
  }
  .nav li {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
  } 
  a {
    text-decoration: none;
    color: black;
  }
  .nav-item {
    display: inline-block;
    position: relative;
    top: -2rem;
    left: 72rem;
  }
  .nav-fig {
    width: 4rem;
    display: inline-block;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .menu {
    width: 20%;
    min-width: 150px;
    height: 70%;
    border-right: 2px solid #C6CBCD;
    display: inline-block;
    padding: 0;
  }
  .menu-img {
    margin: 0em;
    padding:0em;
  }
  .menu p {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    position: relative;
    top: -5rem;
  }
  .menu-img__pos {
    background-color: #C6CBCD ;
    margin: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    max-height: 10.4rem;
    box-shadow: 2px 2px 2px #DCE0E1;
  }
  .menu-img img {
    height: 8rem;
    margin: 1.5em;
    border-radius: 10px;
    display: inline-block;
  }
  .content {
    display: inline-block;
    position:absolute;
  }
  .content-div {
    background-color: #ECEEEE;
    display: inline-block;
    margin: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #DCE0E1;
  }
  .content > p {
    display: inline-block;
    margin: 2rem;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  .content-op {
    width: 20rem;
    border-radius: 3rem;
  }
  .content-div > p {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  footer
  {
    background-color: rgb(208, 209, 209);
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    }

    .footer-inf {
    list-style: none;
    text-align: center;
    display: inline-block;
    }
    .footer-inf li {
    display: inline-block;
    font-size: 15px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    } 
    .footer-inf a {
    text-decoration: none;
    color: black;
    }